<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstdevelop.boot.mapper.StudentMapper">
	<select id="searchAll" resultType="com.firstdevelop.boot.entity.Student">
		select name, stu_class, age from student
	</select>
	
	<!-- add -->
	<select id="info" resultType="com.firstdevelop.boot.entity.Student">
		select * from student 
	</select>
</mapper>